.YTNotesTimingPill {
	background: #4A90E2;
	border-radius: 9.5px;
	font-family: VarelaRound-Regular;
	font-size: 8px;
	color: #FFFFFF;
	letter-spacing: 0.67px;
	text-align: center;
	width: 40px;
	padding-top:4px;
	padding-bottom: 4px;
	cursor: pointer;
}

.YTNotesTimingPill:hover {
	background: #2E6099;
}