.YTNotesTimingElement {
  display:flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #DFDFDF;
}

.YTNotesTimingPillContainer {
  padding: 5px;
  padding-top: 10px;
}

.YTNotesTimingText {
  font-family: VarelaRound-Regular;
  font-size: 12px;
  color: #4A4A4A;
  letter-spacing: 1px;
  text-align: left;
  padding: 5px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}